
services:
  expo:
    build: .
    container_name: expo-dev
    working_dir: /app
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "19000:19000"
      - "19001:19001"
      - "19002:19002"
    tty: true
    stdin_open: true

